<!-- form-payment.html -->
<div class="text-center">
    <span class="glyphicon glyphicon-ok"></span>
    <h3>Submit and Start Session</h3>

    <button type="button" ng-click="boxModel()" class="btn btn-danger">Submit</button>
</div>

<!-- The Modal -->
<div id="boxModel" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span ng-click="spanBoxModelClose()" class="close">&times;</span>
    <p>Some text ..</p>
    <p>Some text ..</p>
    <p>Some text ..</p>
    <button type="submit" id="startBtn" class="btn btn-danger">Start</button>
  </div>

</div>